footer {
background-color: #fff8f1;
  .more-about-us {
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    // gap: 3rem;
    img {
      height: 4rem;
    }
    .rocket-health {
      p {
        padding-top: 1rem;
      }
      a {
        color: $primary-color;
        &:hover {
          color: black;
          transition: 0.5s;
        }
      }
    }
    .follow-us {
      a {
        color: $primary-color;
      }
      .bx {
        font-size: 1.5rem;
        margin-top: 2rem;
      }
    }
    h3 {
      color: #f86448;
      font-size: 1rem;
    }
    .usefull-links {
      h3 {
        padding-bottom: 1rem;
      }
      a {
        color: $primary-color;
        &:hover {
          color: black;
          transition: 0.5s;
        }
      }
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
.copyright{
padding-bottom: 2rem;
p{
    text-align: center;
    font-size: 0.9rem;
   
   }
}
}
@media(max-width:780px){
  footer {
    background-color: #fff8f1;
      .more-about-us {
        padding: 2rem 1rem;
        display: flex;
        gap: 2rem;
        img {
          height: 2rem;
        }
        .rocket-health {
          padding-top: 1.7rem; 
          p {
            padding-top: 1rem;
          }
          a {
            color: $primary-color;
            &:hover {
              color: black;
              transition: 0.5s;
            }
          }
        }
        .follow-us {
          a {
            color: $primary-color;
          }
          .bx {
            font-size: 1.2rem;
            margin-top: 1rem;
          }
        }
        h3 {
          color: #f86448;
          font-size: 1rem;
        }
        .usefull-links {
          h3 {
            padding-bottom: 1rem;
          }
          a {
            color: $primary-color;
            &:hover {
              color: black;
              transition: 0.5s;
            }
          }
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
        }
      }
    }  
}
@media(max-width:520px){
  footer {
    background-color: #fff8f1;
      .more-about-us {
        padding: 2rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        img {
          height: 4rem;
        }
        .rocket-health {
          p {
            padding-top: 1rem;
          }
          a {
            color: $primary-color;
            &:hover {
              color: black;
              transition: 0.5s;
            }
          }
        }
        .follow-us {
         h3{
          text-align: left;
         }
          a {
            color: $primary-color;
          }
          .bx {
            font-size: 1.5rem;
            margin-top: 1rem;
          }
        }
    .mailing{
      h3{
        text-align: left;
       }  
    }
        h3 {
          color: #f86448;
          font-size: 1rem;
        }
        .usefull-links {
          h3 {
            padding-bottom: 1rem;
          }
          a {
            color: $primary-color;
            &:hover {
              color: black;
              transition: 0.5s;
            }
          }
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
        }
      }
   
    }  
}
@media(max-width:484px){
  footer {
    background-color: #fff8f1;
      .more-about-us {
        padding: 2rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        img {
          height: 4rem;
        }
        .rocket-health {
          p {
            padding-top: 1rem;
          }
          a {
            color: $primary-color;
            &:hover {
              color: black;
              transition: 0.5s;
            }
          }
        }
        .follow-us {
         h3{
          text-align: left;
         }
          a {
            color: $primary-color;
          }
          .bx {
            font-size: 1.5rem;
            margin-top: 1rem;
          }
        }
    .mailing{
      h3{
        text-align: left;
       }  
    }
        h3 {
          color: #f86448;
          font-size: 1rem;
        }
        .usefull-links {
          h3 {
            padding-bottom: 1rem;
          }
          a {
            color: $primary-color;
            &:hover {
              color: black;
              transition: 0.5s;
            }
          }
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
        }
      }
   
    }  
}
@media(max-width:360px){
  footer {
    background-color: #fff8f1;
      .more-about-us {
        padding: 2rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        img {
          height: 4rem;
        }
        .rocket-health {
          p {
            padding-top: 1rem;
          }
          a {
            color: $primary-color;
            &:hover {
              color: black;
              transition: 0.5s;
            }
          }
        }
        .follow-us {
         h3{
          text-align: left;
         }
          a {
            color: $primary-color;
          }
          .bx {
            font-size: 1.5rem;
            margin-top: 1rem;
          }
        }
    .mailing{
      h3{
        text-align: left;
       }  
    }
        h3 {
          color: #f86448;
          font-size: 1rem;
        }
        .usefull-links {
          h3 {
            padding-bottom: 1rem;
          }
          a {
            color: $primary-color;
            &:hover {
              color: black;
              transition: 0.5s;
            }
          }
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
        }
      }
   
    }  
}
