.heading {
  h3 {
    padding: 2rem 4rem;
    padding-right: 6rem;
    text-align: center;
    font-size: 2rem;
  }
}
@media(max-width:360px){
  .heading {
    h3 {
      padding: 2rem 1rem;
      padding-right: 1rem;
      text-align: center;
      font-size: 1.5rem;
    }
  }  
}
