.logo {
  position: fixed;
  top: 80%;
  left: 93%;
  z-index: 100;
  img {
    height: 4.5rem;
    border-radius: 1.7rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  }
}
@media (max-width: 780px) {
  .logo {
    position: fixed;
    top: 80%;
    left: 89%;
    z-index: 100;
  }
}
@media (max-width: 520px) {
  .logo {
    position: fixed;
    top: 86%;
    left: 80%;
    z-index: 100;
  }
}
@media (max-width: 360px) {
  .logo {
    position: fixed;
    top: 86%;
    left: 75%;
    z-index: 100;
  }
}
