@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
}

h3 {
  color: #1d6298;
}

body {
  position: relative;
}

.opening-section {
  background-color: #1d6298;
}
.opening-section header {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.opening-section .right {
  display: flex;
  gap: 3rem;
}
.opening-section .right a {
  color: white;
}
.opening-section .aboutus {
  position: relative;
}
.opening-section .aboutus .new {
  background-color: #e94f40;
  color: white;
  font-weight: bolder;
  padding: 0.1rem 0.2rem;
  border-radius: 0.3rem;
  width: 50%;
  height: 89%;
  font-size: 12px;
  position: absolute;
  top: -35%;
  left: 99%;
}
.opening-section img {
  height: 3.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.opening-section .images {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 6rem;
  padding-right: 6rem;
}
.opening-section .images .description {
  text-align: left;
}
.opening-section .images .description h3 {
  color: white;
  font-size: 3.5rem;
  text-align: left;
}
.opening-section .images .description .bxs-chevron-right {
  border-radius: 50%;
  color: white;
  font-size: 3rem;
  border: 2px solid white;
}
.opening-section .images img {
  padding-bottom: 2rem;
  width: 70%;
  height: 50%;
}

@media (max-width: 945px) {
  .opening-section {
    background-color: #1d6298;
  }
  .opening-section header {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .opening-section .right {
    display: none;
  }
  .opening-section img {
    height: 3.5rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .opening-section .images {
    display: flex;
    width: 100%;
    align-items: center;
    height: 80%;
    padding: 0 4rem;
  }
  .opening-section .images .description h3 {
    color: white;
    font-size: 3.5rem;
  }
  .opening-section .images .description .bxs-chevron-right {
    border-radius: 50%;
    color: white;
    font-size: 3rem;
    margin-left: 4rem;
    border: 2px solid white;
  }
  .opening-section .images img {
    width: 65%;
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
  }
}
@media (max-width: 788px) {
  .opening-section {
    background-color: #1d6298;
  }
  .opening-section header {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .opening-section .right {
    display: none;
  }
  .opening-section img {
    height: 3.5rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .opening-section .images {
    display: flex;
    width: 100%;
    align-items: normal;
    padding: 0 2rem;
    padding-left: 4rem;
  }
  .opening-section .images .description h3 {
    color: white;
    font-size: 2.6rem;
  }
  .opening-section .images .description .bxs-chevron-right {
    border-radius: 50%;
    color: white;
    font-size: 2rem;
    margin-top: 1rem;
    text-align: start;
    border: 2px solid white;
  }
  .opening-section .images img {
    width: 55%;
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
  }
}
@media (max-width: 520px) {
  .opening-section {
    background-color: #1d6298;
  }
  .opening-section header {
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .opening-section .right {
    display: none;
  }
  .opening-section img {
    height: 3.5rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .opening-section .images {
    padding-left: 1rem;
    display: flex;
    width: 100%;
    align-items: normal;
    padding-right: 2rem;
  }
  .opening-section .images .description h3 {
    color: white;
    font-size: 1.5rem;
  }
  .opening-section .images .description .bxs-chevron-right {
    border-radius: 50%;
    color: white;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 2px solid white;
  }
  .opening-section .images img {
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
  }
}
@media (max-width: 484px) {
  .opening-section {
    background-color: #1d6298;
  }
  .opening-section header {
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .opening-section .right {
    display: none;
  }
  .opening-section img {
    height: 3.5rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .opening-section .images {
    padding-left: 1rem;
    padding-right: 2rem;
    display: flex;
    width: 100%;
    align-items: normal;
  }
  .opening-section .images .description h3 {
    color: white;
    font-size: 1.5rem;
  }
  .opening-section .images .description .bxs-chevron-right {
    border-radius: 50%;
    color: white;
    font-size: 1rem;
    text-align: left;
    margin-top: 1rem;
    border: 2px solid white;
  }
  .opening-section .images img {
    width: 43%;
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
  }
}
@media (max-width: 360px) {
  .opening-section {
    background-color: #1d6298;
  }
  .opening-section header {
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .opening-section .right {
    display: none;
  }
  .opening-section img {
    height: 3.5rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .opening-section .images {
    padding-left: 1rem;
    display: flex;
    padding-right: 2rem;
    width: 100%;
    align-items: center;
    height: 80%;
  }
  .opening-section .images .description h3 {
    color: white;
    font-size: 1.2rem;
  }
  .opening-section .images .description .bxs-chevron-right {
    border-radius: 50%;
    color: white;
    font-size: 1.3rem;
    text-align: start;
    margin-top: 1rem;
    border: 2px solid white;
  }
  .opening-section .images img {
    width: 39%;
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
  }
}
.heading h3 {
  padding: 2rem 4rem;
  padding-right: 6rem;
  text-align: center;
  font-size: 2rem;
}

@media (max-width: 520px) {
  .heading h3 {
    padding: 2rem 1rem;
    padding-right: 1rem;
    text-align: center;
    font-size: 1.5rem;
  }
}
@media (max-width: 484px) {
  .heading h3 {
    padding: 2rem 1rem;
    padding-right: 1rem;
    text-align: center;
    font-size: 1.5rem;
  }
}
@media (max-width: 360px) {
  .heading h3 {
    padding: 2rem 1rem;
    padding-right: 1rem;
    text-align: center;
    font-size: 1.5rem;
  }
}
.icons {
  display: flex;
  width: 20%;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  position: fixed;
  left: 2rem;
  top: 20%;
  left: 0%;
  z-index: 100;
}
.icons .bx {
  border-radius: 0.4rem;
  font-size: 1.4rem;
  padding: 0.3rem;
}
.icons .bxl-facebook-circle {
  color: white;
  background-color: #0068fe;
}
.icons .bxl-twitter {
  color: white;
  background-color: #0068fe;
}
.icons .bxl-linkedin {
  color: white;
  background-color: #0068fe;
}
.icons .bx-plus-medical {
  color: white;
  background-color: #0068fe;
}
.icons .bxs-envelope {
  color: white;
  background-color: gray;
}
.icons .bxl-whatsapp {
  color: white;
  background-color: rgb(6, 171, 6);
}

@media (max-width: 780px) {
  .icons {
    display: none;
  }
}
@media (max-width: 484px) {
  .icons {
    display: none;
  }
}
@media (max-width: 360px) {
  .icons {
    display: none;
  }
}
.services-provided {
  padding: 5rem;
}
.services-provided .special {
  width: 35rem;
  height: auto;
}
.services-provided .rocket-wallet {
  display: flex;
  gap: 6rem;
  align-items: center;
}
.services-provided p {
  padding-top: 1rem;
  font-size: 1.1rem;
}
.services-provided .btn {
  padding-top: 2rem;
}
.services-provided .bx-chevron-right {
  color: white;
  font-size: 1rem;
}
.services-provided a {
  background-color: #f86448;
  color: white;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
}
.services-provided a:hover {
  background-color: #1d6298;
  transition: 0.6s;
}

@media (max-width: 945px) {
  .services-provided {
    padding: 5rem;
  }
  .services-provided .special {
    width: 35rem;
    height: auto;
  }
  .services-provided .rocket-wallet {
    display: flex;
    gap: 6rem;
    flex-direction: column;
  }
  .services-provided p {
    padding-top: 1rem;
    font-size: 1.1rem;
  }
  .services-provided .btn {
    padding-top: 2rem;
  }
  .services-provided .bx-chevron-right {
    color: white;
    font-size: 1rem;
  }
  .services-provided a {
    background-color: #f86448;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
  }
  .services-provided a:hover {
    background-color: #1d6298;
    transition: 0.6s;
  }
}
@media (max-width: 780px) {
  .services-provided {
    padding: 5rem;
  }
  .services-provided .special {
    width: 35rem;
    height: auto;
  }
  .services-provided .rocket-wallet {
    display: flex;
    gap: 3rem;
    flex-direction: column;
  }
  .services-provided p {
    padding-top: 1rem;
    font-size: 1.1rem;
  }
  .services-provided .btn {
    padding-top: 2rem;
  }
  .services-provided .bx-chevron-right {
    color: white;
    font-size: 1rem;
  }
  .services-provided a {
    background-color: #f86448;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
  }
  .services-provided a:hover {
    background-color: #1d6298;
    transition: 0.6s;
  }
}
@media (max-width: 520px) {
  .services-provided {
    padding: 1rem;
  }
  .services-provided .special {
    width: 21rem;
    height: auto;
  }
  .services-provided img {
    width: 21rem;
    height: auto;
  }
  .services-provided .rocket-wallet {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }
  .services-provided h3 {
    padding-top: 1rem;
    font-size: 1.4rem;
  }
  .services-provided p {
    padding-top: 1rem;
    font-size: 1.1rem;
  }
  .services-provided .btn {
    padding-top: 2rem;
  }
  .services-provided .bx-chevron-right {
    color: white;
    font-size: 1rem;
  }
  .services-provided a {
    background-color: #f86448;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
  }
  .services-provided a:hover {
    background-color: #1d6298;
    transition: 0.6s;
  }
}
@media (max-width: 484px) {
  .services-provided {
    padding: 1rem;
  }
  .services-provided .special {
    width: 21rem;
    height: auto;
  }
  .services-provided img {
    width: 21rem;
    height: auto;
  }
  .services-provided .rocket-wallet {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }
  .services-provided h3 {
    font-size: 1.4rem;
    padding-top: 1rem;
  }
  .services-provided p {
    padding-top: 1rem;
    font-size: 1.1rem;
  }
  .services-provided .btn {
    padding-top: 2rem;
  }
  .services-provided .bx-chevron-right {
    color: white;
    font-size: 1rem;
  }
  .services-provided a {
    background-color: #f86448;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
  }
  .services-provided a:hover {
    background-color: #1d6298;
    transition: 0.6s;
  }
}
@media (max-width: 360px) {
  .services-provided {
    padding: 1rem;
  }
  .services-provided .special {
    width: 21rem;
    height: auto;
  }
  .services-provided img {
    width: 21rem;
    height: auto;
  }
  .services-provided .rocket-wallet {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
  .services-provided h3 {
    padding-top: 1rem;
    font-size: 1.3rem;
  }
  .services-provided p {
    padding-top: 1rem;
    font-size: 1.1rem;
  }
  .services-provided .btn {
    padding-top: 2rem;
  }
  .services-provided .bx-chevron-right {
    color: white;
    font-size: 1rem;
  }
  .services-provided a {
    background-color: #f86448;
    color: white;
    border-radius: 1rem;
    padding: 0.2rem 1rem;
  }
  .services-provided a:hover {
    background-color: #1d6298;
    transition: 0.6s;
  }
}
.we-care {
  min-height: 50vh;
  padding: 2rem;
  background-color: #fff8f1;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.we-care h3 {
  padding-bottom: 1rem;
  font-size: 1.8rem;
}
.we-care p {
  font-size: 1.2rem;
}

@media (max-width: 780px) {
  .we-care {
    min-height: 50vh;
    padding: 1rem;
    background-color: #fff8f1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .we-care h3 {
    padding-bottom: 1rem;
    font-size: 1.8rem;
  }
  .we-care p {
    font-size: 1.2rem;
  }
}
@media (max-width: 520px) {
  .we-care {
    width: 100%;
    min-height: 50vh;
    padding: 2rem 2rem;
    background-color: #fff8f1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .we-care .section-video {
    width: 100%;
  }
  .we-care .section-video iframe {
    width: 100%;
  }
  .we-care h3 {
    padding-bottom: 1rem;
    font-size: 1.8rem;
    text-align: center;
  }
  .we-care p {
    font-size: 1.2rem;
    text-align: center;
  }
}
@media (max-width: 484px) {
  .we-care {
    min-height: 50vh;
    padding: 2rem 1rem;
    background-color: #fff8f1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .we-care iframe {
    width: 100%;
  }
  .we-care h3 {
    padding-bottom: 1rem;
    font-size: 1.8rem;
    text-align: center;
  }
  .we-care p {
    font-size: 1.2rem;
    text-align: center;
  }
}
@media (max-width: 360px) {
  .we-care {
    min-height: 50vh;
    padding: 2rem 1rem;
    background-color: #fff8f1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .we-care iframe {
    width: 100%;
  }
  .we-care h3 {
    padding-bottom: 1rem;
    font-size: 1.8rem;
    text-align: center;
  }
  .we-care p {
    font-size: 1.2rem;
    text-align: center;
  }
}
h3 {
  padding-top: 2rem;
  text-align: center;
  font-size: 2.5rem;
}

.testimony {
  padding: 3rem 4rem;
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
.testimony img {
  border-radius: 50%;
}
.testimony .names {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}
.testimony a {
  color: black;
}
.testimony .links {
  padding-top: 1rem;
}
.testimony .links .bx {
  border-radius: 0.4rem;
  font-size: 1.2rem;
  padding: 0.3rem;
}
.testimony .links .bxl-facebook-circle {
  color: white;
  background-color: #0068fe;
}
.testimony .links .bxl-twitter {
  color: white;
  background-color: #0068fe;
}
.testimony .links .bxl-linkedin {
  color: white;
  background-color: #0068fe;
}
.testimony .links .bx-plus-medical {
  color: white;
  background-color: #0068fe;
}
.testimony .links .bxs-envelope {
  color: white;
  background-color: gray;
}
.testimony .links .bxl-whatsapp {
  color: white;
  background-color: rgb(6, 171, 6);
}

.link {
  padding: 2rem 0.5rem;
}
.link .bx {
  border-radius: 0.4rem;
  font-size: 1.2rem;
  padding: 0.3rem;
}
.link .bxl-facebook-circle {
  color: white;
  background-color: #0068fe;
}
.link .bxl-twitter {
  color: white;
  background-color: #0068fe;
}
.link .bxl-linkedin {
  color: white;
  background-color: #0068fe;
}
.link .bx-plus-medical {
  color: white;
  background-color: #0068fe;
}
.link .bxs-envelope {
  color: white;
  background-color: gray;
}
.link .bxl-whatsapp {
  color: white;
  background-color: rgb(6, 171, 6);
}

@media (max-width: 360px) {
  .testimony {
    padding: 3rem 2rem;
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }
}
footer {
  background-color: #fff8f1;
}
footer .more-about-us {
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
}
footer .more-about-us img {
  height: 4rem;
}
footer .more-about-us .rocket-health p {
  padding-top: 1rem;
}
footer .more-about-us .rocket-health a {
  color: #1d6298;
}
footer .more-about-us .rocket-health a:hover {
  color: black;
  transition: 0.5s;
}
footer .more-about-us .follow-us a {
  color: #1d6298;
}
footer .more-about-us .follow-us .bx {
  font-size: 1.5rem;
  margin-top: 2rem;
}
footer .more-about-us h3 {
  color: #f86448;
  font-size: 1rem;
}
footer .more-about-us .usefull-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
footer .more-about-us .usefull-links h3 {
  padding-bottom: 1rem;
}
footer .more-about-us .usefull-links a {
  color: #1d6298;
}
footer .more-about-us .usefull-links a:hover {
  color: black;
  transition: 0.5s;
}
footer .copyright {
  padding-bottom: 2rem;
}
footer .copyright p {
  text-align: center;
  font-size: 0.9rem;
}

@media (max-width: 780px) {
  footer {
    background-color: #fff8f1;
  }
  footer .more-about-us {
    padding: 2rem 1rem;
    display: flex;
    gap: 2rem;
  }
  footer .more-about-us img {
    height: 2rem;
  }
  footer .more-about-us .rocket-health {
    padding-top: 1.7rem;
  }
  footer .more-about-us .rocket-health p {
    padding-top: 1rem;
  }
  footer .more-about-us .rocket-health a {
    color: #1d6298;
  }
  footer .more-about-us .rocket-health a:hover {
    color: black;
    transition: 0.5s;
  }
  footer .more-about-us .follow-us a {
    color: #1d6298;
  }
  footer .more-about-us .follow-us .bx {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  footer .more-about-us h3 {
    color: #f86448;
    font-size: 1rem;
  }
  footer .more-about-us .usefull-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  footer .more-about-us .usefull-links h3 {
    padding-bottom: 1rem;
  }
  footer .more-about-us .usefull-links a {
    color: #1d6298;
  }
  footer .more-about-us .usefull-links a:hover {
    color: black;
    transition: 0.5s;
  }
}
@media (max-width: 520px) {
  footer {
    background-color: #fff8f1;
  }
  footer .more-about-us {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  footer .more-about-us img {
    height: 4rem;
  }
  footer .more-about-us .rocket-health p {
    padding-top: 1rem;
  }
  footer .more-about-us .rocket-health a {
    color: #1d6298;
  }
  footer .more-about-us .rocket-health a:hover {
    color: black;
    transition: 0.5s;
  }
  footer .more-about-us .follow-us h3 {
    text-align: left;
  }
  footer .more-about-us .follow-us a {
    color: #1d6298;
  }
  footer .more-about-us .follow-us .bx {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  footer .more-about-us .mailing h3 {
    text-align: left;
  }
  footer .more-about-us h3 {
    color: #f86448;
    font-size: 1rem;
  }
  footer .more-about-us .usefull-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  footer .more-about-us .usefull-links h3 {
    padding-bottom: 1rem;
  }
  footer .more-about-us .usefull-links a {
    color: #1d6298;
  }
  footer .more-about-us .usefull-links a:hover {
    color: black;
    transition: 0.5s;
  }
}
@media (max-width: 484px) {
  footer {
    background-color: #fff8f1;
  }
  footer .more-about-us {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  footer .more-about-us img {
    height: 4rem;
  }
  footer .more-about-us .rocket-health p {
    padding-top: 1rem;
  }
  footer .more-about-us .rocket-health a {
    color: #1d6298;
  }
  footer .more-about-us .rocket-health a:hover {
    color: black;
    transition: 0.5s;
  }
  footer .more-about-us .follow-us h3 {
    text-align: left;
  }
  footer .more-about-us .follow-us a {
    color: #1d6298;
  }
  footer .more-about-us .follow-us .bx {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  footer .more-about-us .mailing h3 {
    text-align: left;
  }
  footer .more-about-us h3 {
    color: #f86448;
    font-size: 1rem;
  }
  footer .more-about-us .usefull-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  footer .more-about-us .usefull-links h3 {
    padding-bottom: 1rem;
  }
  footer .more-about-us .usefull-links a {
    color: #1d6298;
  }
  footer .more-about-us .usefull-links a:hover {
    color: black;
    transition: 0.5s;
  }
}
@media (max-width: 360px) {
  footer {
    background-color: #fff8f1;
  }
  footer .more-about-us {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  footer .more-about-us img {
    height: 4rem;
  }
  footer .more-about-us .rocket-health p {
    padding-top: 1rem;
  }
  footer .more-about-us .rocket-health a {
    color: #1d6298;
  }
  footer .more-about-us .rocket-health a:hover {
    color: black;
    transition: 0.5s;
  }
  footer .more-about-us .follow-us h3 {
    text-align: left;
  }
  footer .more-about-us .follow-us a {
    color: #1d6298;
  }
  footer .more-about-us .follow-us .bx {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  footer .more-about-us .mailing h3 {
    text-align: left;
  }
  footer .more-about-us h3 {
    color: #f86448;
    font-size: 1rem;
  }
  footer .more-about-us .usefull-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  footer .more-about-us .usefull-links h3 {
    padding-bottom: 1rem;
  }
  footer .more-about-us .usefull-links a {
    color: #1d6298;
  }
  footer .more-about-us .usefull-links a:hover {
    color: black;
    transition: 0.5s;
  }
}
.logo {
  position: fixed;
  top: 80%;
  left: 93%;
  z-index: 100;
}
.logo img {
  height: 4.5rem;
  border-radius: 1.7rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

@media (max-width: 780px) {
  .logo {
    position: fixed;
    top: 80%;
    left: 89%;
    z-index: 100;
  }
}
@media (max-width: 520px) {
  .logo {
    position: fixed;
    top: 86%;
    left: 80%;
    z-index: 100;
  }
}
@media (max-width: 360px) {
  .logo {
    position: fixed;
    top: 86%;
    left: 75%;
    z-index: 100;
  }
}/*# sourceMappingURL=style.css.map */